<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
      <form (submit)="forgetpassword(email)">
        <div class="form-group">
          <label>Email</label>
          <input
            style="color:black"
            type="email"
            class="form-control"
            name="email"
            id="email"
            [(ngModel)]="email"
          />
          <div class="send-btn">
            <button class="default-btn-one"
                    type="submit" >Send </button>
          </div>
        </div>
      </form>
  </div>
</div>
