<div class="container">
  <header class="jumbotron">
    <h3>
      Profile
    </h3>
  </header>

  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <label for="username"><strong>Username:</strong></label>
        <input style="margin-left: 25px;" type="text" name="username" [(ngModel)]="currentUser.username"
          [disabled]="!editMode" />
      </p>
      <p class="card-text">
        <label for="email"><strong>Email:</strong></label>
        <input type="text" style="margin-left: 25px;" name="email" [(ngModel)]="currentUser.email"
          [disabled]="!editMode" />
      </p>
      <p class="card-text">
        <label for="nom"><strong>Nom:</strong></label>
        <input type="text" style="margin-left: 25px;" name="nom" [(ngModel)]="currentUser.Nom" [disabled]="!editMode" />
      </p>
      <p class="card-text">
        <label for="prenom"><strong>Prenom:</strong></label>
        <input type="text" style="margin-left: 25px;" name="prenom" [(ngModel)]="currentUser.Prenom"
          [disabled]="!editMode" />
      </p>
      <p class="card-text">
        <label for="facturation"><strong>Adresse de Facturation:</strong></label>
        <input type="text" style="margin-left: 25px;" name="facturation" [(ngModel)]="currentUser.AdresseDeFacturation"
          [disabled]="!editMode" />
      </p>
      <p class="card-text">
        <label for="phone"><strong>Telephone:</strong></label>
        <input type="text" style="margin-left: 25px;" name="phone" [(ngModel)]="currentUser.Phone"
          [disabled]="!editMode" />
      </p>
      <p class="card-text">
        <label for="pays"><strong>Pays:</strong></label>
        <input type="text" style="margin-left: 25px;" name="pays" [ngModel]="currentUser.Pays?.nom" disabled="true" />
      </p>
    </div>
  </div>

  <div style="margin-top: 25px;">
    <button type="button" class="btn btn-primary" (click)="enableEdit()">Modifier Cordonnées</button>
    <button *ngIf="editMode == true" style="margin-left: 25px;" class="btn btn-success" (click)="updateUser()" >Valider</button>
  </div>
</div>